@import '../variables';
.single_reconstruction{
  color: $main-color;
  background-color: $bgc-color;
}
.about-single-reconstruction__info{
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

.about-single-reconstruction-info__header{
  text-align: center;
  margin: 10px;
  font-size: 24px;
}