@import '../variables';
@keyframes kek {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.main{
  animation-duration: 3s;
  animation-name: kek;
  background-color: #ff7e27;
  height: 100%;
  transition: 600ms ease;
}

.home-page{
  background-image: url('../images/header_bg.png');
  height: 400px;
  width: 100%;
  margin: 0;
  padding: 0;
}
.sample-text__header{
  font-size: 36px;
  color: $main-color;
  text-align: center;
}
.sample-text{
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  color: $main-color;
}

.history-header{
  text-align: center;
  font-size: 36px;
  color: $main-color;
}

.history-text{
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  color: $main-color;
}