@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import '../variables.scss';
*{
  font-family: 'Roboto Condensed', sans-serif;
}
.list-items{
  padding: 4px;
  margin:.5rem 0 0 20rem;
  flex-direction: column;
  //text-align: center;
}
.list-item__single{
  display: inline;
  padding: 10px;
  //border: 1px solid black;
  list-style: none;
  text-decoration: none;
  color: $main-color;
  font-size: 24px;
}
a{
  text-decoration: none;
}
a:visited{
  color: $main-color;
}

.header-text{
  padding: 10px;
  margin: 0;
  //justify-content: left;
  font-size: 24px;
  //float: left;
  color: $main-color;
}
.header{
  display: flex;
  background-color: #813601;
  border: 1px solid #813601;
  height: 50px;
}